.App {
  text-align: center;
  background-color: black;
}


.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-default {
  color: #CAC6C9;
  background-color: #364F79;
}

.btn-outline {
  color: #25273B;
  background-color: #ffffff;
  border-color: #25273B;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.container .heading {
  text-align: left;
  color: #25273B;
  background-image: url("./images/blue-yellow-bird.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
  margin-bottom: 20px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  background-color: #CAC6C9;
}

 .card {
   outline: thin;
   outline-color: #E3ED12;
   font-family: serif;
   color: white;
   padding: 10px;
   background-color: #364F79;
 }
