.App {
  text-align: center;
  background-color: black;
}


.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

hr {
 border-color: #364F79;
 border-style: solid none;
 border-width: 1px 0;
}

input {
border: 1px solid #364F79;
 border-radius: 4px;
}

.navbar-default {
  color: #CAC6C9;
  background-color: #364F79;
  text-align: right;
  padding: 10px;
}

.btn-outline {
  color: #25273B;
  background-color: #CAC6C9;
  border-color: #25273B;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.container .heading {
  text-align: left;
  color: #25273B;
  background-image: url("./images/blue-yellow-bird.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 80px;
  margin: 10px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #CAC6C9;
}

.container {
  padding: 20px;

}

 .card {
   outline: thin;
   outline-color: #E3ED12;
   font-family: sans-serif;
   color: white;
   padding: 10px;
   background-color: #364F79;
 }

 .line {
   outline: 5px;
    outline-color: #E3ED12;
 }
